<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">


      <app-home  [name]="firstName"></app-home>
      <h1></h1>
      <app-users [name]="myName"></app-users>
      <h1>Registration</h1>
      <div class="row">
        <div class="col-sm-3">
          <b>FirstName</b>
          <input
            type="text"
            name="firstname"
            id="firstname-id"
            placeholder="enter firstname"
            class="form-control"
            [(ngModel)]="persondata.firstname"
          />
        </div>
        <div class="col-sm-3">
          <b>LastName</b>
          <input
            type="text"
            name="lastname"
            id="lastname-id"
            placeholder="enter lastname"
            class="form-control"
            [(ngModel)]="persondata.lastname"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <b>Email</b>
          <input
            type="email"
            name="email"
            id="email-id"
            placeholder="enter email"
            class="form-control"
            [(ngModel)]="persondata.email"
          />
        </div>
        <div class="col-sm-3">
            <b>Image</b>
            <input type="text" name="lastname" id="lastname-id" placeholder="enter lastname">
      </div> -->
<!-- </div>
      <br />
      <div class="row">
        <div class="col-sm-3">
          <button type="reset" class="btn btn-warning">Reset</button>&nbsp;
          <button type="submit" class="btn btn-primary" (click)="OnSubmit()">
            Register</button
          >&nbsp;
          <button type="submit" class="btn btn-success" (click)="OnLoad()">
            Load
          </button>
        </div>
        <div class="col-sm-3">
          <table
            class="table table-dark table-hover"
            *ngIf="!submittedpersondata"
          >
            <thead>
              <tr>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Email</th>
              </tr>
            </thead>
            <tbody *ngFor="let item of submittedpersondata">
              <tr>
                <td>{{ item.firstname }}</td>
                <td>{{ item.lastname }}</td>
                <td>{{ item.email }}</td>
              </tr>
            </tbody>
          </table>
          <table class="table table-bordered" *ngIf="persondetails">
            <thead>
              <tr>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Email</th>
                <th rowspan="2">Action</th>
              </tr>
            </thead>
            <tbody *ngFor="let item of persondetails">
              <tr>
                <td>{{ item.first_name }}</td>
                <td>{{ item.last_name }}</td>
                <td>{{ item.email }}</td>
                <td>
                  <button
                    type="button"
                    class="btn btn-primary"
                    data-toggle="modal"
                    data-target="#myModal"
                  >
                    Edit
                  </button>
                </td>
                <td>
                  <button type="button" class="btn btn-danger">Delete</button>
                </td>
              </tr>
            </tbody>
          </table> -->
<!-- --------------------------------  -->

<!-- The Modal -->
<!-- <div class="modal" id="myModal">
            <div class="modal-dialog">
              <div class="modal-content">
                Modal Header -->
<!-- <div class="modal-header">
                  <h4 class="modal-title">Modal Heading</h4>
                  <button type="button" class="close" data-dismiss="modal">
                    &times;
                  </button>
                </div> -->

<!-- Modal body -->
<!-- <div class="modal-body">
                  <b>FirstName</b>
                  <input type="text" class="form-control" />
                  <b>LastName</b>
                  <input type="text" class="form-control" />
                  <b>Email</b>
                  <input type="text" class="form-control" />
                </div> -->

<!-- Modal footer -->
<!-- <div class="modal-footer">
                  <button type="button" class="btn btn-success">Save</button>
                  <button
                    type="button"
                    class="btn btn-danger"
                    data-dismiss="modal"
                  >
                    Close
                  </button>
                </div>
              </div>
            </div>
          </div> -->

<!----------------------------->
<!-- </div>
      </div>
    </div>
  </body>
</html> -->
<!-- <app-select-control></app-select-control> -->
<!-- <router-outlet></router-outlet>
<app-ng-if></app-ng-if>  -->

<h1 class="text-center">Welcome To Angular</h1>

<ul class="list-group-item">
  <p class="h4">Uppercase Pipe::{{ firstName | uppercase }}</p>
  <p class="h4">Lowercase Pipe::{{ firstName | lowercase }}</p>
  <p class="h4">TitleCase Pipe::{{ firstName | titlecase }}</p>
  <p class="h4">Decimal Pipe::{{ price }}</p>
  <p class="h4">Decimal Pipe::{{ price | number }}</p>
  <p class="h4">Decimal Pipe::{{ price | number:'5.2-2'  }}</p>
</ul>
